
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CargaDatos</title>
</head>
<body>
    <div> 
        <h3>Carga correcta</h3>
        <p><a href="/">regresar</a></p>
    </div>
</body>
</html>
