
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Formulario</title>
</head>
<body>
    <div> 
        <form method="post" action="/Home/CargaDatos"></form>
        <p>
            Nombre:
            <input type="text" name="nombre" />
        </p>
        <p>
            Apellido:
            <textarea rows="10" cols="50" name="comentarios" /> </textarea>
        </p>
        <p>
            <input type="submit" value="Confirmar" />
        </p>
    </div>
</body>
</html>
