
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alta</title>
</head>
<body>
    <div> 
        <form action="/Home/Alta" method="post">

            <label for="codigo">Codigo</label>
            <input type="text" name="codigo" />           

            <label for="precio">Precio</label>
            <input type="text" name="precio" />

            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" />

            <input type="submit" value="Enviar" />
        </form>
    </div>
</body>
</html>
