
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Carrreras</title>
</head>
<body>
    <div> 
        <h1>Carrreras</h1>
        <p>parrafo</p>
    </div>
</body>
</html>
